/*HEADER*/
$header-text-color: #ffffff;
/*DATE PICKER*/
$date-picker-input-bg-color: #E0E5F2;
$date-picker-btn-color: #E0E5F2;
$date-picker-btn-text-color: black;
$date-picker-btn-additional-color: #ff2468;
$date-picker-btn-additional-text-color: white;
/*MODAL*/
$modal-title-cr: black;
$modal-overlay-bg-cr: rgba(0, 0, 0, 0.7);
$modal-bg-cr: white;
$modal-btn-color: #E0E5F2;
$modal-btn-text-color: black;
$modal-btn-additional-color: #ff2468;
$modal-btn-additional-text-color: white;
$modal-bg-svg-cr: #E0E5F2;
/*TODOS FILTER AND FORM*/
$form-and-filter-btn-border-cr: #E0E5F2;
$form-and-filter-btn-cr: #E0E5F2;
$form-and-filter-input-border-and-text-cr: white;
$form-and-filter-label-text-cr: white;
$form-and-filter-label-text-after-focus-cr: #E0E5F2;
/*TODOS LIST AND ITEMS*/
$todos-total-task-cr: white;
$todos-task-text-cr: black;
$todos-task-bg-cr: white;
$todos-task-duplicate-text-cr: #ff2468;
$todos-task-edit-svg-bg-cr: #E0E5F2;
$todos-task-toggle-text-cr: black;
$todos-task-deadline-bg-cr: #E0E5F2;
$todos-task-deadline-text-cr: #ff2468;
$todos-task-start-btn-bg-cr: #E0E5F2;
$todos-task-completed-border: green;
$todos-task-in-process-border: #e28743;
$todos-task-completed-box-shadow: green;
$todos-task-in-process-border-box-shadow: #e28743;
